<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>HealthTap
	</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="assets/css/style-starter.css">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>
	<style>
		.dropbtn {
			background-color: #04AA6D;
			color: white;
			padding: 16px;
			font-size: 16px;
			border: none;
			cursor: pointer;
		  }
		  
		  .dropbtn:hover, .dropbtn:focus {
			background-color: #3e8e41;
		  }
		  
		  #myInput {
			box-sizing: border-box;
			background-image: url('searchicon.png');
			background-position: 14px 12px;
			background-repeat: no-repeat;
			font-size: 16px;
			padding: 14px 20px 12px 45px;
			border: none;
			border-bottom: 1px solid #ddd;
		  }
		  
		  #myInput:focus {outline: 3px solid #ddd;}
		  
		  .dropdown {
			position: relative;
			display: inline-block;
		  }
		  
		  .dropdown-content {
			display: none;
			position: absolute;
			background-color: #f6f6f6;
			min-width: 230px;
			overflow: auto;
			border: 1px solid #ddd;
			z-index: 1;
		  }
		  
		  .dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		  }
		  
		  .dropdown a:hover {background-color: #ddd;}
		  
		  .show {display: block;}
	</style>
	<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container">
				<div class="row">
					<div class="top-left col-lg-6">
						<ul class="accounts">
							<li class="top_li"><span class="fa fa-map-o"></span> <a href="#">Rushikonda,
									Visakhaptnam-530045</a>
							</li>
							<li class="top_li mr-lg-0"><span class="fa fa-envelope-o"></span> <a
									href="5201411058@gvpcdpgc.edu.in" class="mail"> code_of_duty@gmail.com</a>

							</li>
						</ul>
					</div>
					<div class="social-top col-lg-6 mt-lg-0 mt-sm-3">
						<div class="top-bar-text"></a> You can
							check your health status here!!</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	<!--w3l-header-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light px-lg-0 py-0 px-3 stroke">
			<div class="container">
				<a class="navbar-brand" href="index.html"><span>Health</span>tap</a>
				<!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>
					<div class="call-support">
						<p>Call us for any question</p>
						<h5>+91 9063968230</h5>
					</div>
				</div>
			</div>
		</nav>
		<!--//nav-->
	</header>
	<!-- //w3l-header -->
	<!--banner-slider-->
	<!-- main-slider -->
	<!-- footer-66 -->
    <section class="w3l-free-consultion" style="margin: 10px;">
		<div class="container">
			<div class="consultation-grids">
				<div class="apply-form">
					<h5>Provide your details</h5>
					<form action="#" method="post">
						<div class="admission-form">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Full Name*" required="">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Age*" required="">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Email">
							</div>
							<select class="form-control">
								<option>Male</option>
								<option>Female</option>
								<option>Others</option>
							</select>
						</div>
                        <br />
					<div>
						<input name="s1" list="symptoms1" class="form-control" placeholder="symptoms1">
						<datalist id="symptoms1">
							<option value="Anxiety and nervousness">
<option value="Depression">
<option value="Shortness of breath">
<option value="Depressive or psychotic symptoms">
<option value="Sharp chest pain">
<option value="Dizziness">
<option value="Insomnia">
<option value="Abnormal involuntary movements">
<option value="Chest tightness">
<option value="Palpitations">
<option value="Irregular heartbeat">
<option value="Breathing fast">
<option value="Hoarse voice">
<option value="Sore throat">
<option value="Difficulty speaking">
<option value="Cough">
<option value="Nasal congestion">
<option value="Throat swelling">
<option value="Diminished hearing">
<option value="Lump in throat">
<option value="Throat feels tight">
<option value="Difficulty in swallowing">
<option value="Skin swelling">
<option value="Retention of urine">
<option value="Groin mass">
<option value="Leg pain">
<option value="Hip pain">
<option value="Suprapubic pain">
<option value="Blood in stool">
<option value="Lack of growth">
<option value="Emotional symptoms">
<option value="Elbow weakness">
<option value="Back weakness">
<option value="Pus in sputum">
<option value="Symptoms of the scrotum and testes">
<option value="Swelling of scrotum">
<option value="Pain in testicles">
<option value="Flatulence">
<option value="Pus draining from ear">
<option value="Jaundice">
<option value="Mass in scrotum">
<option value="White discharge from eye">
<option value="Irritable infant">
<option value="Abusing alcohol">
<option value="Fainting">
<option value="Hostile behavior">
<option value="Drug abuse">
<option value="Sharp abdominal pain">
<option value="Feeling ill">
<option value="Vomiting">
<option value="Headache">
<option value="Nausea">
<option value="Diarrhea">
<option value="Vaginal itching">
<option value="Vaginal dryness">
<option value="Painful urination">
<option value="Involuntary urination">
<option value="Pain during intercourse">
<option value="Frequent urination">
<option value="Lower abdominal pain">
<option value="Vaginal discharge">
<option value="Blood in urine">
<option value="Hot flashes">
<option value="Intermenstrual bleeding">
<option value="Hand or finger pain">
<option value="Wrist pain">
<option value="Hand or finger swelling">
<option value="Arm pain">
<option value="Wrist swelling">
<option value="Arm stiffness or tightness">
<option value="Arm swelling">
<option value="Hand or finger stiffness or tightness">
<option value="Wrist stiffness or tightness">
<option value="Lip swelling">
<option value="Toothache">
<option value="Abnormal appearing skin">
<option value="Skin lesion">
<option value="Acne or pimples">
<option value="Dry lips">
<option value="Facial pain">
<option value="Mouth ulcer">
<option value="Skin growth">
<option value="Eye deviation">
<option value="Diminished vision">
<option value="Double vision">
<option value="Cross-eyed">
<option value="Symptoms of eye">
<option value="Pain in eye">
<option value="Eye moves abnormally">
<option value="Abnormal movement of eyelid">
<option value="Foreign body sensation in eye">
<option value="Irregular appearing scalp">
<option value="Swollen lymph nodes">
<option value="Back pain">
<option value="Neck pain">
<option value="Low back pain">
<option value="Pain of the anus">
<option value="Pain during pregnancy">
<option value="Pelvic pain">
<option value="Impotence">
<option value="Infant spitting up">
<option value="Vomiting blood">
<option value="Regurgitation">
<option value="Burning abdominal pain">
<option value="Restlessness">
<option value="Symptoms of infants">
<option value="Wheezing">
<option value="Peripheral edema">
<option value="Neck mass">
<option value="Ear pain">
<option value="Jaw swelling">
<option value="Mouth dryness">
<option value="Neck swelling">
<option value="Knee pain">
<option value="Foot or toe pain">
<option value="Bowlegged or knock-kneed">
<option value="Ankle pain">
<option value="Bones are painful">
<option value="Knee weakness">
<option value="Elbow pain">
<option value="Knee swelling">
<option value="Skin moles">
<option value="Knee lump or mass">
<option value="Weight gain">
<option value="Problems with movement">
<option value="Knee stiffness or tightness">
<option value="Leg swelling">
<option value="Foot or toe swelling">
<option value="Heartburn">
<option value="Smoking problems">
<option value="Muscle pain">
<option value="Infant feeding problem">
<option value="Recent weight loss">
<option value="Problems with shape or size of breast">
<option value="Underweight">
<option value="Difficulty eating">
<option value="Scanty menstrual flow">
<option value="Vaginal pain">
<option value="Vaginal redness">
<option value="Vulvar irritation">
<option value="Weakness">
<option value="Decreased heart rate">
<option value="Increased heart rate">
<option value="Bleeding or discharge from nipple">
<option value="Ringing in ear">
<option value="Plugged feeling in ear">
<option value="Itchy ear(s)">
<option value="Frontal headache">
<option value="Fluid in ear">
<option value="Neck stiffness or tightness">
<option value="Spots or clouds in vision">
<option value="Eye redness">
<option value="Lacrimation">
<option value="Itchiness of eye">
<option value="Blindness">
<option value="Eye burns or stings">
<option value="Itchy eyelid">
<option value="Feeling cold">
<option value="Decreased appetite">
<option value="Excessive appetite">
<option value="Excessive anger">
<option value="Loss of sensation">
<option value="Focal weakness">
<option value="Slurring words">
<option value="Symptoms of the face">
<option value="Disturbance of memory">
<option value="Paresthesia">
<option value="Side pain">
<option value="Fever">
<option value="Shoulder pain">
<option value="Shoulder stiffness or tightness">
<option value="Shoulder weakness">
<option value="Arm cramps or spasms">
<option value="Shoulder swelling">
<option value="Tongue lesions">
<option value="Leg cramps or spasms">
<option value="Abnormal appearing tongue">
<option value="Ache all over">
<option value="Lower body pain">
<option value="Problems during pregnancy">
<option value="Spotting or bleeding during pregnancy">
<option value="Cramps and spasms">
<option value="Upper abdominal pain">
<option value="Stomach bloating">
<option value="Changes in stool appearance">
<option value="Unusual color or odor to urine">
<option value="Kidney mass">
<option value="Swollen abdomen">
<option value="Symptoms of prostate">
<option value="Leg stiffness or tightness">
<option value="Difficulty breathing">
<option value="Rib pain">
<option value="Joint pain">
<option value="Muscle stiffness or tightness">
<option value="Pallor">
<option value="Hand or finger lump or mass">
<option value="Chills">
<option value="Groin pain">
<option value="Fatigue">
<option value="Abdominal distention">
<option value="Symptoms of the kidneys">
<option value="Melena">
<option value="Flushing">
<option value="Coughing up sputum">
<option value="Seizures">
<option value="Delusions or hallucinations">
<option value="Shoulder cramps or spasms">
<option value="Joint stiffness or tightness">
<option value="Pain or soreness of breast">
<option value="Excessive urination at night">
<option value="Bleeding from eye">
<option value="Rectal bleeding">
<option value="Constipation">
<option value="Temper problems">
<option value="Coryza">
<option value="Wrist weakness">
<option value="Eye strain">
<option value="Hemoptysis">
<option value="Lymphedema">
<option value="Skin on leg or foot looks infected">
<option value="Allergic reaction">
<option value="Congestion in chest">
<option value="Sleepiness">
<option value="Apnea">
<option value="Abnormal breathing sounds">
<option value="Excessive growth">
<option value="Elbow cramps or spasms">
<option value="Low back weakness">
<option value="Feeling hot and cold">
<option value="Blood clots during menstrual periods">
<option value="Absence of menstruation">
<option value="Pulling at ears">
<option value="Gum pain">
<option value="Redness in ear">
<option value="Fluid retention">
<option value="Flu-like syndrome">
<option value="Sinus congestion">
<option value="Painful sinuses">
<option value="Fears and phobias">
<option value="Recent pregnancy">
<option value="Uterine contractions">
<option value="Burning chest pain">
<option value="Back cramps or spasms">
<option value="Stiffness all over">
<option value="Muscle cramps, contractures, or spasms">
<option value="Low back cramps or spasms">
<option value="Back mass or lump">
<option value="Nosebleed">
<option value="Long menstrual periods">
<option value="Muscle swelling">
<option value="Heavy menstrual flow">
<option value="Unpredictable menstruation">
<option value="Painful menstruation">
<option value="Infertility">
<option value="Frequent menstruation">
<option value="Sweating">
<option value="Mass on eyelid">
<option value="Swollen eye">
<option value="Eyelid swelling">
<option value="Eyelid lesion or rash">
<option value="Unwanted hair">
<option value="Symptoms of bladder">
<option value="Irregular appearing nails">
<option value="Itching of skin">
<option value="Hurts to breath">
<option value="Nailbiting">
<option value="Skin dryness, peeling, scaliness, or roughness">
<option value="Skin on arm or hand looks infected">
<option value="Skin irritation">
<option value="Itchy scalp">
<option value="Hip swelling">
<option value="Incontinence of stool">
<option value="Foot or toe cramps or spasms">
<option value="Warts">
<option value="Bumps on penis">
<option value="Too little hair">
<option value="Foot or toe lump or mass">
<option value="Skin rash">
<option value="Mass or swelling around the anus">
<option value="Low back swelling">
<option value="Ankle swelling">
<option value="Hip lump or mass">
<option value="Drainage in throat">
<option value="Dry or flaky scalp">
<option value="Premenstrual tension or irritability">
<option value="Feeling hot">
<option value="Feet turned in">
<option value="Foot or toe stiffness or tightness">
<option value="Pelvic pressure">
<option value="Elbow swelling">
<option value="Elbow stiffness or tightness">
<option value="Early or late onset of menopause">
<option value="Mass on ear">
<option value="Bleeding from ear">
<option value="Hand or finger weakness">
<option value="Low self-esteem">
<option value="Throat irritation">
<option value="Itching of the anus">
</datalist>
					</div>
                    <br />
                    <div>
						<input name="s2" list="symptoms2" class="form-control" placeholder="symptoms2">
						<datalist id="symptoms2">
							<option value="Anxiety and nervousness">
<option value="Depression">
<option value="Shortness of breath">
<option value="Depressive or psychotic symptoms">
<option value="Sharp chest pain">
<option value="Dizziness">
<option value="Insomnia">
<option value="Abnormal involuntary movements">
<option value="Chest tightness">
<option value="Palpitations">
<option value="Irregular heartbeat">
<option value="Breathing fast">
<option value="Hoarse voice">
<option value="Sore throat">
<option value="Difficulty speaking">
<option value="Cough">
<option value="Nasal congestion">
<option value="Throat swelling">
<option value="Diminished hearing">
<option value="Lump in throat">
<option value="Throat feels tight">
<option value="Difficulty in swallowing">
<option value="Skin swelling">
<option value="Retention of urine">
<option value="Groin mass">
<option value="Leg pain">
<option value="Hip pain">
<option value="Suprapubic pain">
<option value="Blood in stool">
<option value="Lack of growth">
<option value="Emotional symptoms">
<option value="Elbow weakness">
<option value="Back weakness">
<option value="Pus in sputum">
<option value="Symptoms of the scrotum and testes">
<option value="Swelling of scrotum">
<option value="Pain in testicles">
<option value="Flatulence">
<option value="Pus draining from ear">
<option value="Jaundice">
<option value="Mass in scrotum">
<option value="White discharge from eye">
<option value="Irritable infant">
<option value="Abusing alcohol">
<option value="Fainting">
<option value="Hostile behavior">
<option value="Drug abuse">
<option value="Sharp abdominal pain">
<option value="Feeling ill">
<option value="Vomiting">
<option value="Headache">
<option value="Nausea">
<option value="Diarrhea">
<option value="Vaginal itching">
<option value="Vaginal dryness">
<option value="Painful urination">
<option value="Involuntary urination">
<option value="Pain during intercourse">
<option value="Frequent urination">
<option value="Lower abdominal pain">
<option value="Vaginal discharge">
<option value="Blood in urine">
<option value="Hot flashes">
<option value="Intermenstrual bleeding">
<option value="Hand or finger pain">
<option value="Wrist pain">
<option value="Hand or finger swelling">
<option value="Arm pain">
<option value="Wrist swelling">
<option value="Arm stiffness or tightness">
<option value="Arm swelling">
<option value="Hand or finger stiffness or tightness">
<option value="Wrist stiffness or tightness">
<option value="Lip swelling">
<option value="Toothache">
<option value="Abnormal appearing skin">
<option value="Skin lesion">
<option value="Acne or pimples">
<option value="Dry lips">
<option value="Facial pain">
<option value="Mouth ulcer">
<option value="Skin growth">
<option value="Eye deviation">
<option value="Diminished vision">
<option value="Double vision">
<option value="Cross-eyed">
<option value="Symptoms of eye">
<option value="Pain in eye">
<option value="Eye moves abnormally">
<option value="Abnormal movement of eyelid">
<option value="Foreign body sensation in eye">
<option value="Irregular appearing scalp">
<option value="Swollen lymph nodes">
<option value="Back pain">
<option value="Neck pain">
<option value="Low back pain">
<option value="Pain of the anus">
<option value="Pain during pregnancy">
<option value="Pelvic pain">
<option value="Impotence">
<option value="Infant spitting up">
<option value="Vomiting blood">
<option value="Regurgitation">
<option value="Burning abdominal pain">
<option value="Restlessness">
<option value="Symptoms of infants">
<option value="Wheezing">
<option value="Peripheral edema">
<option value="Neck mass">
<option value="Ear pain">
<option value="Jaw swelling">
<option value="Mouth dryness">
<option value="Neck swelling">
<option value="Knee pain">
<option value="Foot or toe pain">
<option value="Bowlegged or knock-kneed">
<option value="Ankle pain">
<option value="Bones are painful">
<option value="Knee weakness">
<option value="Elbow pain">
<option value="Knee swelling">
<option value="Skin moles">
<option value="Knee lump or mass">
<option value="Weight gain">
<option value="Problems with movement">
<option value="Knee stiffness or tightness">
<option value="Leg swelling">
<option value="Foot or toe swelling">
<option value="Heartburn">
<option value="Smoking problems">
<option value="Muscle pain">
<option value="Infant feeding problem">
<option value="Recent weight loss">
<option value="Problems with shape or size of breast">
<option value="Underweight">
<option value="Difficulty eating">
<option value="Scanty menstrual flow">
<option value="Vaginal pain">
<option value="Vaginal redness">
<option value="Vulvar irritation">
<option value="Weakness">
<option value="Decreased heart rate">
<option value="Increased heart rate">
<option value="Bleeding or discharge from nipple">
<option value="Ringing in ear">
<option value="Plugged feeling in ear">
<option value="Itchy ear(s)">
<option value="Frontal headache">
<option value="Fluid in ear">
<option value="Neck stiffness or tightness">
<option value="Spots or clouds in vision">
<option value="Eye redness">
<option value="Lacrimation">
<option value="Itchiness of eye">
<option value="Blindness">
<option value="Eye burns or stings">
<option value="Itchy eyelid">
<option value="Feeling cold">
<option value="Decreased appetite">
<option value="Excessive appetite">
<option value="Excessive anger">
<option value="Loss of sensation">
<option value="Focal weakness">
<option value="Slurring words">
<option value="Symptoms of the face">
<option value="Disturbance of memory">
<option value="Paresthesia">
<option value="Side pain">
<option value="Fever">
<option value="Shoulder pain">
<option value="Shoulder stiffness or tightness">
<option value="Shoulder weakness">
<option value="Arm cramps or spasms">
<option value="Shoulder swelling">
<option value="Tongue lesions">
<option value="Leg cramps or spasms">
<option value="Abnormal appearing tongue">
<option value="Ache all over">
<option value="Lower body pain">
<option value="Problems during pregnancy">
<option value="Spotting or bleeding during pregnancy">
<option value="Cramps and spasms">
<option value="Upper abdominal pain">
<option value="Stomach bloating">
<option value="Changes in stool appearance">
<option value="Unusual color or odor to urine">
<option value="Kidney mass">
<option value="Swollen abdomen">
<option value="Symptoms of prostate">
<option value="Leg stiffness or tightness">
<option value="Difficulty breathing">
<option value="Rib pain">
<option value="Joint pain">
<option value="Muscle stiffness or tightness">
<option value="Pallor">
<option value="Hand or finger lump or mass">
<option value="Chills">
<option value="Groin pain">
<option value="Fatigue">
<option value="Abdominal distention">
<option value="Symptoms of the kidneys">
<option value="Melena">
<option value="Flushing">
<option value="Coughing up sputum">
<option value="Seizures">
<option value="Delusions or hallucinations">
<option value="Shoulder cramps or spasms">
<option value="Joint stiffness or tightness">
<option value="Pain or soreness of breast">
<option value="Excessive urination at night">
<option value="Bleeding from eye">
<option value="Rectal bleeding">
<option value="Constipation">
<option value="Temper problems">
<option value="Coryza">
<option value="Wrist weakness">
<option value="Eye strain">
<option value="Hemoptysis">
<option value="Lymphedema">
<option value="Skin on leg or foot looks infected">
<option value="Allergic reaction">
<option value="Congestion in chest">
<option value="Sleepiness">
<option value="Apnea">
<option value="Abnormal breathing sounds">
<option value="Excessive growth">
<option value="Elbow cramps or spasms">
<option value="Low back weakness">
<option value="Feeling hot and cold">
<option value="Blood clots during menstrual periods">
<option value="Absence of menstruation">
<option value="Pulling at ears">
<option value="Gum pain">
<option value="Redness in ear">
<option value="Fluid retention">
<option value="Flu-like syndrome">
<option value="Sinus congestion">
<option value="Painful sinuses">
<option value="Fears and phobias">
<option value="Recent pregnancy">
<option value="Uterine contractions">
<option value="Burning chest pain">
<option value="Back cramps or spasms">
<option value="Stiffness all over">
<option value="Muscle cramps, contractures, or spasms">
<option value="Low back cramps or spasms">
<option value="Back mass or lump">
<option value="Nosebleed">
<option value="Long menstrual periods">
<option value="Muscle swelling">
<option value="Heavy menstrual flow">
<option value="Unpredictable menstruation">
<option value="Painful menstruation">
<option value="Infertility">
<option value="Frequent menstruation">
<option value="Sweating">
<option value="Mass on eyelid">
<option value="Swollen eye">
<option value="Eyelid swelling">
<option value="Eyelid lesion or rash">
<option value="Unwanted hair">
<option value="Symptoms of bladder">
<option value="Irregular appearing nails">
<option value="Itching of skin">
<option value="Hurts to breath">
<option value="Nailbiting">
<option value="Skin dryness, peeling, scaliness, or roughness">
<option value="Skin on arm or hand looks infected">
<option value="Skin irritation">
<option value="Itchy scalp">
<option value="Hip swelling">
<option value="Incontinence of stool">
<option value="Foot or toe cramps or spasms">
<option value="Warts">
<option value="Bumps on penis">
<option value="Too little hair">
<option value="Foot or toe lump or mass">
<option value="Skin rash">
<option value="Mass or swelling around the anus">
<option value="Low back swelling">
<option value="Ankle swelling">
<option value="Hip lump or mass">
<option value="Drainage in throat">
<option value="Dry or flaky scalp">
<option value="Premenstrual tension or irritability">
<option value="Feeling hot">
<option value="Feet turned in">
<option value="Foot or toe stiffness or tightness">
<option value="Pelvic pressure">
<option value="Elbow swelling">
<option value="Elbow stiffness or tightness">
<option value="Early or late onset of menopause">
<option value="Mass on ear">
<option value="Bleeding from ear">
<option value="Hand or finger weakness">
<option value="Low self-esteem">
<option value="Throat irritation">
<option value="Itching of the anus">
</datalist>
                        </div>
                        <br />
                        <div>
                        	<input name="s3" list="symptoms3" class="form-control" placeholder="symptoms3">
							<datalist id="symptoms3">
							<option value="Anxiety and nervousness">
<option value="Depression">
<option value="Shortness of breath">
<option value="Depressive or psychotic symptoms">
<option value="Sharp chest pain">
<option value="Dizziness">
<option value="Insomnia">
<option value="Abnormal involuntary movements">
<option value="Chest tightness">
<option value="Palpitations">
<option value="Irregular heartbeat">
<option value="Breathing fast">
<option value="Hoarse voice">
<option value="Sore throat">
<option value="Difficulty speaking">
<option value="Cough">
<option value="Nasal congestion">
<option value="Throat swelling">
<option value="Diminished hearing">
<option value="Lump in throat">
<option value="Throat feels tight">
<option value="Difficulty in swallowing">
<option value="Skin swelling">
<option value="Retention of urine">
<option value="Groin mass">
<option value="Leg pain">
<option value="Hip pain">
<option value="Suprapubic pain">
<option value="Blood in stool">
<option value="Lack of growth">
<option value="Emotional symptoms">
<option value="Elbow weakness">
<option value="Back weakness">
<option value="Pus in sputum">
<option value="Symptoms of the scrotum and testes">
<option value="Swelling of scrotum">
<option value="Pain in testicles">
<option value="Flatulence">
<option value="Pus draining from ear">
<option value="Jaundice">
<option value="Mass in scrotum">
<option value="White discharge from eye">
<option value="Irritable infant">
<option value="Abusing alcohol">
<option value="Fainting">
<option value="Hostile behavior">
<option value="Drug abuse">
<option value="Sharp abdominal pain">
<option value="Feeling ill">
<option value="Vomiting">
<option value="Headache">
<option value="Nausea">
<option value="Diarrhea">
<option value="Vaginal itching">
<option value="Vaginal dryness">
<option value="Painful urination">
<option value="Involuntary urination">
<option value="Pain during intercourse">
<option value="Frequent urination">
<option value="Lower abdominal pain">
<option value="Vaginal discharge">
<option value="Blood in urine">
<option value="Hot flashes">
<option value="Intermenstrual bleeding">
<option value="Hand or finger pain">
<option value="Wrist pain">
<option value="Hand or finger swelling">
<option value="Arm pain">
<option value="Wrist swelling">
<option value="Arm stiffness or tightness">
<option value="Arm swelling">
<option value="Hand or finger stiffness or tightness">
<option value="Wrist stiffness or tightness">
<option value="Lip swelling">
<option value="Toothache">
<option value="Abnormal appearing skin">
<option value="Skin lesion">
<option value="Acne or pimples">
<option value="Dry lips">
<option value="Facial pain">
<option value="Mouth ulcer">
<option value="Skin growth">
<option value="Eye deviation">
<option value="Diminished vision">
<option value="Double vision">
<option value="Cross-eyed">
<option value="Symptoms of eye">
<option value="Pain in eye">
<option value="Eye moves abnormally">
<option value="Abnormal movement of eyelid">
<option value="Foreign body sensation in eye">
<option value="Irregular appearing scalp">
<option value="Swollen lymph nodes">
<option value="Back pain">
<option value="Neck pain">
<option value="Low back pain">
<option value="Pain of the anus">
<option value="Pain during pregnancy">
<option value="Pelvic pain">
<option value="Impotence">
<option value="Infant spitting up">
<option value="Vomiting blood">
<option value="Regurgitation">
<option value="Burning abdominal pain">
<option value="Restlessness">
<option value="Symptoms of infants">
<option value="Wheezing">
<option value="Peripheral edema">
<option value="Neck mass">
<option value="Ear pain">
<option value="Jaw swelling">
<option value="Mouth dryness">
<option value="Neck swelling">
<option value="Knee pain">
<option value="Foot or toe pain">
<option value="Bowlegged or knock-kneed">
<option value="Ankle pain">
<option value="Bones are painful">
<option value="Knee weakness">
<option value="Elbow pain">
<option value="Knee swelling">
<option value="Skin moles">
<option value="Knee lump or mass">
<option value="Weight gain">
<option value="Problems with movement">
<option value="Knee stiffness or tightness">
<option value="Leg swelling">
<option value="Foot or toe swelling">
<option value="Heartburn">
<option value="Smoking problems">
<option value="Muscle pain">
<option value="Infant feeding problem">
<option value="Recent weight loss">
<option value="Problems with shape or size of breast">
<option value="Underweight">
<option value="Difficulty eating">
<option value="Scanty menstrual flow">
<option value="Vaginal pain">
<option value="Vaginal redness">
<option value="Vulvar irritation">
<option value="Weakness">
<option value="Decreased heart rate">
<option value="Increased heart rate">
<option value="Bleeding or discharge from nipple">
<option value="Ringing in ear">
<option value="Plugged feeling in ear">
<option value="Itchy ear(s)">
<option value="Frontal headache">
<option value="Fluid in ear">
<option value="Neck stiffness or tightness">
<option value="Spots or clouds in vision">
<option value="Eye redness">
<option value="Lacrimation">
<option value="Itchiness of eye">
<option value="Blindness">
<option value="Eye burns or stings">
<option value="Itchy eyelid">
<option value="Feeling cold">
<option value="Decreased appetite">
<option value="Excessive appetite">
<option value="Excessive anger">
<option value="Loss of sensation">
<option value="Focal weakness">
<option value="Slurring words">
<option value="Symptoms of the face">
<option value="Disturbance of memory">
<option value="Paresthesia">
<option value="Side pain">
<option value="Fever">
<option value="Shoulder pain">
<option value="Shoulder stiffness or tightness">
<option value="Shoulder weakness">
<option value="Arm cramps or spasms">
<option value="Shoulder swelling">
<option value="Tongue lesions">
<option value="Leg cramps or spasms">
<option value="Abnormal appearing tongue">
<option value="Ache all over">
<option value="Lower body pain">
<option value="Problems during pregnancy">
<option value="Spotting or bleeding during pregnancy">
<option value="Cramps and spasms">
<option value="Upper abdominal pain">
<option value="Stomach bloating">
<option value="Changes in stool appearance">
<option value="Unusual color or odor to urine">
<option value="Kidney mass">
<option value="Swollen abdomen">
<option value="Symptoms of prostate">
<option value="Leg stiffness or tightness">
<option value="Difficulty breathing">
<option value="Rib pain">
<option value="Joint pain">
<option value="Muscle stiffness or tightness">
<option value="Pallor">
<option value="Hand or finger lump or mass">
<option value="Chills">
<option value="Groin pain">
<option value="Fatigue">
<option value="Abdominal distention">
<option value="Symptoms of the kidneys">
<option value="Melena">
<option value="Flushing">
<option value="Coughing up sputum">
<option value="Seizures">
<option value="Delusions or hallucinations">
<option value="Shoulder cramps or spasms">
<option value="Joint stiffness or tightness">
<option value="Pain or soreness of breast">
<option value="Excessive urination at night">
<option value="Bleeding from eye">
<option value="Rectal bleeding">
<option value="Constipation">
<option value="Temper problems">
<option value="Coryza">
<option value="Wrist weakness">
<option value="Eye strain">
<option value="Hemoptysis">
<option value="Lymphedema">
<option value="Skin on leg or foot looks infected">
<option value="Allergic reaction">
<option value="Congestion in chest">
<option value="Sleepiness">
<option value="Apnea">
<option value="Abnormal breathing sounds">
<option value="Excessive growth">
<option value="Elbow cramps or spasms">
<option value="Low back weakness">
<option value="Feeling hot and cold">
<option value="Blood clots during menstrual periods">
<option value="Absence of menstruation">
<option value="Pulling at ears">
<option value="Gum pain">
<option value="Redness in ear">
<option value="Fluid retention">
<option value="Flu-like syndrome">
<option value="Sinus congestion">
<option value="Painful sinuses">
<option value="Fears and phobias">
<option value="Recent pregnancy">
<option value="Uterine contractions">
<option value="Burning chest pain">
<option value="Back cramps or spasms">
<option value="Stiffness all over">
<option value="Muscle cramps, contractures, or spasms">
<option value="Low back cramps or spasms">
<option value="Back mass or lump">
<option value="Nosebleed">
<option value="Long menstrual periods">
<option value="Muscle swelling">
<option value="Heavy menstrual flow">
<option value="Unpredictable menstruation">
<option value="Painful menstruation">
<option value="Infertility">
<option value="Frequent menstruation">
<option value="Sweating">
<option value="Mass on eyelid">
<option value="Swollen eye">
<option value="Eyelid swelling">
<option value="Eyelid lesion or rash">
<option value="Unwanted hair">
<option value="Symptoms of bladder">
<option value="Irregular appearing nails">
<option value="Itching of skin">
<option value="Hurts to breath">
<option value="Nailbiting">
<option value="Skin dryness, peeling, scaliness, or roughness">
<option value="Skin on arm or hand looks infected">
<option value="Skin irritation">
<option value="Itchy scalp">
<option value="Hip swelling">
<option value="Incontinence of stool">
<option value="Foot or toe cramps or spasms">
<option value="Warts">
<option value="Bumps on penis">
<option value="Too little hair">
<option value="Foot or toe lump or mass">
<option value="Skin rash">
<option value="Mass or swelling around the anus">
<option value="Low back swelling">
<option value="Ankle swelling">
<option value="Hip lump or mass">
<option value="Drainage in throat">
<option value="Dry or flaky scalp">
<option value="Premenstrual tension or irritability">
<option value="Feeling hot">
<option value="Feet turned in">
<option value="Foot or toe stiffness or tightness">
<option value="Pelvic pressure">
<option value="Elbow swelling">
<option value="Elbow stiffness or tightness">
<option value="Early or late onset of menopause">
<option value="Mass on ear">
<option value="Bleeding from ear">
<option value="Hand or finger weakness">
<option value="Low self-esteem">
<option value="Throat irritation">
<option value="Itching of the anus">
</datalist>
                        </div>
                        <br />
						<button type="submit" class="btn btn-primary submit">Predict</button>
					</form>
				</div>
                <div class="consultation-img">
					<img src="assets/images/phone.jpeg" class="img-fluid" alt="/">
				</div>
			</div>
			<div><br><h3 align="center">{{ prediction_text }}</h3></div>
		</div>
	</section>
	<section class="w3l-free-consultion" style="margin: 10px;">
		<div class="container">
			<div class="consultation-grids">
				<div class="apply-form">
					{% if len > 0: %}
						<h2>Tips:</h2><br/>
					{% endif %}
					{%for i in msg%}
    					<li>{{i}}</li>
					{%endfor%}
				</div>
			</div>
		</div>
	</section>
    <footer>
		<div class="cpy-right py-3">
			<p class="text-center">© . All rights reserved | Design by
				<a href="#"> code_of_duty.</a>
			</p>
		</div>
		<!-- move top -->
		<button onclick="topFunction()" id="movetop" title="Go to top">
			<span class="fa fa-level-up"></span>
		</button>
		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function () {
				scrollFunction()
			};

			function filterFunction(){
				var input, filter, ul, li, a, i;
  				input = document.getElementById("myInput");
  				filter = input.value.toUpperCase();
  				div = document.getElementById("myDropdown");
  				a = div.getElementsByTagName("a");
  				for (i = 0; i < a.length; i++) {
    				txtValue = a[i].textContent || a[i].innerText;
    				if (txtValue.toUpperCase().indexOf(filter) > -1) {
      					a[i].style.display = "";
    				} else {
      					a[i].style.display = "none";
    				}
  				}
			}

			function scrollFunction() {
				if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
					document.getElementById("movetop").style.display = "block";
				} else {
					document.getElementById("movetop").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>
		<!-- /move top -->
	</footer>
	<!--//footer-66 -->
</body>

</html>

<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<!-- stats -->
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/jquery.countup.js"></script>
<script>
	$('.counter').countUp();
</script>
<!-- //stats -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

		$('.popup-with-move-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom'
		});

		$(document).ready(function(){
			document.getElementById("myDropdown").classList.toggle("show");
		});
	});
</script>
<!-- for blog carousel slider -->
<script src="assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
	$(document).ready(function () {
		$('.owl-one').owlCarousel({
			loop: true,
			margin: 0,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	})
</script>
<!-- //testimonials owlcarousel -->
<script>
	$(document).ready(function () {
		$('.owl-two').owlCarousel({
			loop: true,
			margin: 20,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: false
				},
				1000: {
					items: 1,
					nav: false
				}
			}
		})
	})
</script>
<!-- //script for Testimonials-->
<!-- //script -->

<script src="assets/js/bootstrap.min.js"></script>